*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --clr-neon:#ff24c1;
    --clr-bg:#31202b;
    --clr-white:#fff;
}

body{
    min-height: 100vh;
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: var(--clr-bg);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: var(--clr-white);
    text-align: center;
}

.login-box .user-box{
    position: relative;
}

.login-box .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--clr-white);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--clr-white);
    outline: none;
    background: transparent;
}

.login-box .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--clr-white);
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: var(--clr-neon);
    font-size: 12px;
}

.login-box form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--clr-neon);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover{
    background: var(--clr-neon);
    color: var(--clr-white);
    box-shadow: 0 0 5px var(--clr-neon),
                0 0 25px var(--clr-neon),
                0 0 50px var(--clr-neon),
                0 0 100px var(--clr-neon);
}

.login-box a span{
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg,transparent,var(--clr-neon));
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.login-box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,var(--clr-neon));
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.login-box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,var(--clr-neon));
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.login-box a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,var(--clr-neon));
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}





